# SPDX-License-Identifier: GPL-2.0-only
#
# Wireless WAN device configuration
#

menuconfig WWAN
	bool "Wireless WAN"
	help
	  This section contains Wireless WAN driver configurations.

if WWAN

config WWAN_CORE
	tristate "WWAN Driver Core"
	help
	  Say Y here if you want to use the WWAN driver core. This driver
	  provides a common framework for WWAN drivers.

endif # WWAN
